  <div style="row col-md-12">
      <% @all_rc_images.each do |image, info| %>
      <ul class="col-md-3 rig">
          <li>
            <%= image_tag "#{image}" %> <br />
            <iframe
                width="150"
                height="150"
                frameborder="0" style="border:0"
                src="https://www.google.com/maps/embed/v1/place?key=<%= ENV['GOOGLE_MAPS_API'] %>
                &q=<%= "#{info["latitude"]},#{info["longitude"]}" %>">
            </iframe>
            <br>
          </li>
        </ul>
      <% end %>
      <% @all_kylesa_images.each do |imageM, infoM| %>
      <ul class="col-md-3 rig">
          <li>
            <%= image_tag "#{imageM}" %><br /> 
                <iframe
                width="150"
                height="150"
                frameborder="0" style="border:0"
                src="https://www.google.com/maps/embed/v1/place?key=<%= ENV['GOOGLE_MAPS_API'] %>
                &q=<%= "#{infoM["latitude"]},#{infoM["longitude"]}" %>">
            </iframe>
          </li>
      </ul>
       <% end %>
  </div>

